﻿@model WorkersQualification.Models.Certificate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Certificate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Issuer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge.KnowNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge.KnowNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
