﻿@model WorkersQualification.Models.Certificate

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Certificates", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Certificate</h4>
    <hr />
    @if (Request.IsAuthenticated)
            {
                WorkersQualification.Models.MartinEntities db = new WorkersQualification.Models.MartinEntities();
                var people = db.People.Where(x => x.Email == User.Identity.Name).SingleOrDefault();

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
        
        if (people.UserInRoles.Select(x => x.Role.RoleName).Contains("Admin"))
                {

            <div class="form-group">
                @Html.LabelFor(model => model.PersonID, "PersonID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KnowId, "KnowId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("KnowId", null, htmlAttributes :new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KnowId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LevelId, "LevelId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LevelId", null, htmlAttributes :new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileID, "FileID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("FileID", null, htmlAttributes:new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FileID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Issuer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Issuer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Issuer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Issued, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Issued, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Issued, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CertName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CertName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CertName, "", new { @class = "text-danger" })
                </div>
            </div>

            <label for="file"> Upload certificate:</label>
            <input type="file" name="file" id="file" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PersonID, "PersonID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PersonID", null, new { @class = "from-control", @style = "display:none" })
                    @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control", @disabled = "" })

                    @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KnowId, "KnowId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("KnowId", null, new { @class = "from-control", @style = "display:none" })
                    @Html.DropDownList("KnowId", null, htmlAttributes: new { @class = "form-control", @disabled = "" })
                    @Html.ValidationMessageFor(model => model.KnowId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LevelId, "LevelId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LevelId", null, new { @class = "from-control", @style = "display:none" })
                    @Html.DropDownList("LevelId", null, htmlAttributes: new { @class = "form-control", @disabled = "" })
                    @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FileID, "FileID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("FileID", null, new { @class = "from-control", @style = "display:none" })
                    @Html.DropDownList("FileID", null, htmlAttributes: new { @class = "form-control", @disabled="" })
                    @Html.ValidationMessageFor(model => model.FileID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Issuer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Issuer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Issuer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Issued, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Issued, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Issued, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CertName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CertName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CertName, "", new { @class = "text-danger" })
                </div>
            </div>

            <label for="file"> Upload certificate:</label>
            <input type="file" name="file" id="file" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    }
</div>
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }*@
@if (Request.IsAuthenticated && WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).IsAdmin())
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
else
{
    <div>
        @Html.ActionLink(
        linkText: "Back", 
        actionName: $"Details/{WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).Id}",
        controllerName: "People")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
