﻿@model WorkersQualification.Models.Person
<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <label class="text-danger">@ViewBag.ErrorMessage</label>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trainings)

        </dt>

        <dd>
            @foreach (var training in Model.Trainings)
            {
                <p>@training.TrainingName</p>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Certificates)
            (lisa)

        </dt>

        <dd>
            @foreach (var certificate in Model.Certificates)
            {
                <p>

                    @Html.ActionLink(certificate.CertName, $"../Certificates/Edit/{certificate.id}")
                </p>
            }
        </dd>



    </dl>
</div>
@if (Model.Picture != null)
{
    <div>
        <img src="@Url.Action("Get", "Files",new { id=Model.Picture})" height="120" />
    </div>
}





<h2>
    Tööülesanded

</h2>

<ol>
    @foreach (var task in Model.Tasks)
    {
        if (!task.Started.HasValue)  
        {
            <li>@Html.ActionLink((task.TaskName), $"../Tasks/Details/{task.Id}")</li>
            @Html.ActionLink("Start", "TaskRemove", new { id = Model.Id, taskId = task.Id }, new { @class = "button" })
        }
        if(!task.Completed.HasValue && task.Started.HasValue)
        {
            <li>@Html.ActionLink((task.TaskName), $"../Tasks/Details/{task.Id}")</li>
            @Html.ActionLink("OK", "TaskRemove", new { id = Model.Id, taskId = task.Id }, new { @class = "button" })
        }
    }

    @if (Request.IsAuthenticated && WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).IsAdmin())
    {
        <li>@Html.ActionLink(("Lisa uus"), $"../Tasks/Create")</li>
    }

</ol>

@if (Request.IsAuthenticated && WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).IsAdmin())
{
    <h2>Tal on sellised rollid</h2>
    <ol>
        @foreach (var x in Model.UserInRoles)
        {
            <li>@Html.ActionLink(("- " + x.Role.RoleName + " (kliki, et eemaldada)"), "RemoveRole", new { id = Model.Id, roleid = x.RoleId })</li>
        }
    </ol>
    <h2>Neid rolle tal ei ole:</h2>
    <ol>
        @foreach (WorkersQualification.Models.Role x in ViewBag.OtherRoles)
        {
            <li>
                @Html.ActionLink(("+ " + x.RoleName), "AddRole", new { id = Model.Id, roleId = x.Id })
            </li>
        }
    </ol>
}
else
{ <h2>Tal on sellised rollid</h2>
    <ol>
        @foreach (var x in Model.UserInRoles)
        {
            <li>
                @x.Role.RoleName
            </li>
        }
    </ol>
}





<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |

    @if (Request.IsAuthenticated && WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).IsAdmin())
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
