﻿@model IEnumerable<WorkersQualification.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm())
{
    <div id="outer">
        <p>
            Find by name, ID or department: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            @Html.ActionLink("All", "Index", null, new { @class = "button" })
        </p>
    </div>
}

@using (Html.BeginForm("Index", "People", FormMethod.Get))
{
    <div id="outer">
        <p>
            Find by knowledge: @Html.TextBox("knowledgesearch")
            <input type="submit" value="Search" />
        </p>
    </div>
}



<p>
    @if (ViewBag.Page > 0)
    {
        <b>
            @Html.ActionLink("<<", "Index", new { sortOrder = ViewBag.CurrentSort, page = 0 }) |
            @Html.ActionLink("<", "Index", new { sortOrder = ViewBag.CurrentSort, page = Math.Max(ViewBag.Page - 1, 0) })
        </b>
    }

    Page @(ViewBag.Page + 1)/@(ViewBag.Pages+1). Showing results @(ViewBag.Page * ViewBag.Size + 1)-@if (ViewBag.Page != ViewBag.Pages)
    {
        @(ViewBag.Page * ViewBag.Size + ViewBag.Size)

    }
    else
    {
        @(ViewBag.Count)
    }



    @if (ViewBag.Page < ViewBag.Pages)
    {
        <b>
            @Html.ActionLink(">", "Index", new { sortOrder = ViewBag.CurrentSort, page = Math.Min(ViewBag.Page + 1, ViewBag.Pages) }) |
            @Html.ActionLink(">>", "Index", new { sortOrder = ViewBag.CurrentSort, page = ViewBag.Pages })
        </b>
    }
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, page = ViewBag.Page })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParm, page = ViewBag.Page })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.DepartmentSortParm, page = ViewBag.Page })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File.Filename)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @foreach (var x in Model.Where(x => x.Id == item.Id))
                {
                    @x.StartDate.ToShortDateString()
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <img src="@Url.Action("Get", "Files",new { id=item.Picture})" height="120" width="120" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
