﻿@model WorkersQualification.Models.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge.KnowNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge.KnowNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
