﻿@model IEnumerable<WorkersQualification.Models.Training>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Knowledge.KnowNameEst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.LevelNameEst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingDate)
            </td>
            <td>
                @((item.Completed.HasValue) ? @item.Completed.ToString() : "not set")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Knowledge.KnowNameEst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelNameEst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
