﻿<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button {
    padding:4px 10px;
    height: 25px;
    font: inherit;
    color: inherit;
    background-color:lightgray;
    cursor: pointer;
    border: 1px solid grey;
}

    .button:hover {
        background-color: darkcyan;
        color: white;
        text-align: center;
    }

.banklink {
}

    .banklink:hover {
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        /*background-color: aqua;*/
    }

#outer {
    width: 100%;
    /*text-align: center;*/
}


#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#column1 {
    display: flex;
    flex-direction: column;
}


#column2 {
    display: flex;
    flex-direction: column;
}

.textbox {
    color:azure;
    border-color:gainsboro;
    width:500px;
}
::-webkit-input-placeholder {
    color: silver;
}
:-ms-input-placeholder {
    color: silver;
}



/*photobanner*/

/*.photobanner {
    height: 233px;
    width: 3550px;
    margin-bottom: 10px;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 10s linear infinite;
    -moz-animation: bannermove 10s linear infinite;
    -ms-animation: bannermove 10s linear infinite;
    -o-animation: bannermove 10s linear infinite;
    animation: bannermove 10s linear infinite;
}

@keyframes

"bannermove" {
    0%

{
    margin-right: 0px;
}

100% {
    margin-right: -500px;
}

}

@-moz-keyframes bannermove {
    0% {
        margin-right: 0px;
    }

    100% {
        margin-right: -2125px;
    }
}

/*@-webkit-keyframes

"bannermove" {
    0%

{
    margin-right: 0px;
}

100% {
    margin-right: -2125px;
}*/

}

@-ms-keyframes

"bannermove" {
    0%

{
    margin-right: 0px;
}

100% {
    margin-right: -2125px;
}

}

@-o-keyframes

"bannermove" {
    0%

{
    margin-right: 0px;
}

100% {
    margin-right: -2125px;
}

}

/*.photobanner {
    height: 233px;
    width: 3550px;
    margin-bottom: 80px;
}*/

.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .photobanner img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
        -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    }

#gear {
    animation-name: ckw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
}

#gear2 {
    animation-name: ccw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    top: 100px;
    position: relative;
    top: 50px;
    left: -27px;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ccw {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}