﻿@model IEnumerable<WorkersQualification.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div id="outer">
        <p>
            Find by task name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            @Html.ActionLink("All", "Index", null, new { @class = "button" })
        </p>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.ActionLink("Deadline", "Index", new { sortOrder = ViewBag.DeadlineSortParm })
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.State)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Started)
        </th>
        <th>
            @Html.ActionLink("Completed", "Index", new { sortOrder = ViewBag.CompletedSortParm })
        </th>
        <th>
            @using (Html.BeginForm())
            {
                <div>@Html.DropDownList("AssignedId", null, "Assigned to", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" }) </div>
            }
        </th>
        <th>
            @using (Html.BeginForm())
            {
                <div>@Html.DropDownList("AssignerId", null, "Assigned by", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" }) </div>
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var deadlinecheck = item.Deadline - DateTime.Now;
        var rowcolor = "";

        if (deadlinecheck < new TimeSpan(2, 0, 0))
        {
            rowcolor = "danger";
        }
        if (item.Completed != null)
        {
            rowcolor = "success";
        }

        <tr class="@rowcolor">
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.State)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person1.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @if (Request.IsAuthenticated && WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).IsAdmin())
                {
                    <p>| @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </p>
                }




            </td>
        </tr>
    }

</table>
