﻿@model WorkersQualification.Models.MailModel

@{
    ViewBag.Title = "Contact";
}

<br />
<br />

    <div style="margin-top:50px">
        <div style="float:left; width:33%">
            <h2>Pädevus Pädevus AS</h2>

            <p>+372 59999999</p>

            <p>padevuspadevus@gmail.com</p>

            <p>Reg. Kood: 00000000000</p>

            <p>KMKR: EE0000000000</p>
        </div>

        <div style="float:left; width:33%; display:inline-block">
            <h2>Tallinna kontor</h2>

            <p>Lõõtsa 8, Tallinn 11415</p>


        </div>
        <div style="float:right; width:33%">
            <h2>Saada meile e-kiri</h2>
            @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
            {
                @Html.ValidationSummary()
                <fieldset>
                    <div class="form-div-1">
                        <label class="name">
                            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text", Class = "textbox" })
                        </label>
                    </div>
                    <div class="form-div-2">
                        <label class="email">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email", Class = "textbox" })
                        </label>
                    </div>
                    <div class="form-div-3">
                        <label class="phone notRequired">
                            @Html.TextBoxFor(m => m.Telephone, new { @placeholder = "Telephone Number", @type = "text", Class = "textbox" })
                        </label>
                    </div>
                    <div>
                        <label class="message">
                            @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message *", Class = "textbox" })
                        </label>
                    </div>
                    <div class="button-wrapper">
                        <input type="submit" value="Send" name="submit" class="button"> <input type="reset" value="Reset" name="MFReset" class="button">
                        <p style="font-size:12px">* Required Fields</p>
                    </div>
                </fieldset>
            }

        </div>
    </div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2029.7442288958834!2d24.797724051851354!3d59.42066138160106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692eb569bd019af%3A0xf439c92cfd8f00e6!2sUstus+Agur+Building%2C+L%C3%B5%C3%B5tsa+8%2C+11415+Tallinn!5e0!3m2!1sen!2see!4v1554186733347!5m2!1sen!2see" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


