﻿@model WorkersQualification.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <label class="text-danger">@ViewBag.ErrorMessage</label>

    @if (Request.IsAuthenticated)
    {
        if (WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).Picture != null)
        {
            var parimtöötajaNimi = "";
            var parimtöötaja = WorkersQualification.Controllers.PeopleController.allpeople().First();
            int suurimTaskideArv = 0;
            var töötajad = WorkersQualification.Controllers.PeopleController.allpeople();
             
            foreach (var person in töötajad)
            {
                if (WorkersQualification.Controllers.PeopleController.completedTasks(person) > suurimTaskideArv)
                {
                    suurimTaskideArv = WorkersQualification.Controllers.PeopleController.completedTasks(person);
                    parimtöötajaNimi = person.FullName;
                    parimtöötaja = person;
                }
            }

            <p style="font-family:Verdana; margin-top:15px">
                Tere, @WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).FullName


                <span style="float:right; font-size:20px">
                    Kuu parim: @parimtöötajaNimi (@suurimTaskideArv täidetud ülesannet)
                    @*@try
                    {
                        @WorkersQualification.Models.Person.GetById(imageNumber).FullName
                    }
                    catch (Exception)
                    {

                    }*@
                </span>


            </p>
            <img src="@Url.Action("Get", "Files",new { id=WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).Picture})" height="300" />
            <span style="float:right"><img src="@Url.Action("Get", "Files",new { parimtöötaja.File.Id})" height="300" /></span>
        }
        <br />


    }
    else
    {
        <h3>Tere, külaline!</h3>
    }
    <br />
    @if (Request.IsAuthenticated)
    {
        <p><a href="/people/details/@WorkersQualification.Models.Person.GetByEmail(User.Identity.Name).Id" class="btn btn-primary btn-lg">Minu konto &raquo;</a></p>
    }

    <div style="background-color:white; border-radius:10px">
        <center><p style="font-family:Verdana">Kui soovid pädevuskeskuse tööd toetada, saad seda teha siin.</p></center>
        <center>
            <p>
                <a class="banklink" href="https://www.swedbank.ee/private?language=EST"><img src="https://carglass.ee/wp-content/uploads/2017/07/carglass-kahjukaesitlus-swedbank-logo.png" height="40" width="200" /></a>
                <a class="banklink" href="https://www.seb.ee/"><img src="https://www.vrevents.se/wp-content/uploads/2017/02/seb-logo-300x150.png" height="40" width="100" /></a>
                <a class="banklink" href="https://www.lhv.ee/"><img src="https://upload.wikimedia.org/wikipedia/lv/thumb/6/68/LHV_logo.svg/1280px-LHV_logo.svg.png" height="40" width="150" /></a>
            </p>
        </center>
    </div>
</div>