﻿@model Padevus.Competency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge.KnowNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge.KnowNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelNameEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelNameEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
