﻿@model IEnumerable<WorkersQualification.Models.ReportLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "ReportLogs"))
{
    <div id="outer">
        <p>
            Find log by description: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            @Html.ActionLink("All", "Index", null, new { @class = "button" })
        </p>
    </div>
}

<p>
    @if (ViewBag.Page > 0)
    {
        <b>
            @Html.ActionLink("<<", "Index", new { page = 0 }) |
            @Html.ActionLink("<", "Index", new { page = Math.Max(ViewBag.Page - 1, 0) })
        </b>
    }

    Page @(ViewBag.Page + 1)/@(ViewBag.Pages + 1). Showing results @(ViewBag.Page * ViewBag.Size + 1)-@if (ViewBag.Page != ViewBag.Pages)
    {
        @(ViewBag.Page * ViewBag.Size + ViewBag.Size)

    }
    else
    {
        @(ViewBag.Count)
    }



    @if (ViewBag.Page < ViewBag.Pages)
    {
        <b>
            @Html.ActionLink(">", "Index", new { page = Math.Min(ViewBag.Page + 1, ViewBag.Pages) }) |
            @Html.ActionLink(">>", "Index", new { page = ViewBag.Pages })
        </b>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogRecord)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogRecord)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
