﻿@model Padevus.Models.Töötaja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Töötaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isikukood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isikukood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.exel.Oskus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exel.Oskus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Koolitused)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koolitused)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
