﻿@model IEnumerable<Padevus.Models.Töötaja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Tere tulemast! Siin on töötajate nimekiri:</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isikukood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Koolitused)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exel.Oskus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exel.Tase)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isikukood)
            </td>
            <td>
                @foreach (var x in item.Koolitused)
                {
                    @x
                    <p> </p>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exel.Oskus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exel.Tase)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
