﻿@model WorkersQualification.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.File.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File.Filename)
        </dd>*@

    </dl>
</div>
@if (Model.Picture != null)
{
    <div>
        <img src="@Url.Action("Get", "Files", new { id = Model.Picture })" height="120" />
    </div>
}

<h3>Osakonna töötajad</h3>
<ol>
    @foreach (var x in Model.People)
    {
        <li>@x.FullName</li>
    }
</ol>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
